.school {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding: 60px 0 55px;
	overflow: hidden;
	
	.information, .image {
		flex: 1;
	}

	.information {
		order: 1;
		
		&__heading {
			font-size: 40px;
			line-height: 50px;
			margin: 80px 0 17px;
		}

		&__list {
			margin: 0;
			padding: 0 0 0 3.5%;
			list-style-type: none;
			
			li {
				font-family: 'Montserrat Regular';
				color: @descColor;
				font-size: 14px;
				line-height: 28px;
				position: relative;
				
				&:before {
					content: "\2022";
					color: @altColor;
					position: absolute;
					font-size: 40px;
					left: -22px;
					bottom: 5px;
				}
			}
		}
	}
}
