button {
	outline:none !important;
}

.button {
	margin: 0;
	padding: 0;
	border: 2px solid rgba(255,255,255,0.2);
	background: transparent;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
	min-width: 93px;
	z-index: 1;
	
	a {
		display: block;
		color: #FFF;
		font-size: 17px;
		padding: 8px 18px;
	}
}

.header__main-reg {
	margin-top: 27px;
	background-color: @altColor;
	border: none;
	
	a {
		padding: 16px 29px;
		font-size: 16px;
	}
}

.information__button {
	margin: 28px 0 0 13%;
	background: @mainColor;
	border: none;
	
	a {
		font-size: 16px;
		line-height: 19px;
		padding: 16px 29px;
	}
}

.school {
	.information__button {
		margin: 28px 0 0 0;
	}
}

.registration {
	.button {
		background-color: @altColor;
		border: none;

		a {
			padding: 16px 29px;
			font-size: 16px;
			line-height: 19px;
		}
	}
}